

.PostContainer {
  /* padding-top: 60px; */
  width: 614px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  margin-bottom: 60px;
  background: #fff;
}

.PostContainer__header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
}

.PostContainer__header__thumbnail img {
  height: 34px;
  width: 34px;
  border-radius: 100%;
}

.PostContainer__image img {
  width: 100%;
}

.PostContainer__header__username {
  font-weight: bold;
  margin-left: 16px;
}
